:root{
 --blue:#05386b;
 --green:#5cdb95;
 --green2:#379683;
 --white:#edf5e1;
}   
body{
    background:linear-gradient(45deg,var(--blue),var(--white));
    color:var(--blue);
    margin: 0;
   
}
nav{
    width:100%;
    display:flex;
    flex-direction: row;
    background-color: var(--blue);
    padding-bottom:1rem;
}
#navLink ul li:nth-child(2) form button{
    padding:0;
    border:0;
    background-color: inherit;
    font-weight: 600;
    font-size: 1.2rem;
    color:var(--white);
    text-shadow: 1px 1px var(--green);
    cursor: pointer;
}
hr{
    margin:0;
    margin-bottom: 2rem;
}
#logocon{
width:20vw;       
} 
#navlink{
    width:80vw;
}  
#navLink ul{
    width:100%;
    list-style:none;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
#navLink ul li a{
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
    color:var(--white);
    text-shadow: 1px 1px var(--green);
}
#navLink ul li:last-child form button{
    border:none;
    padding:0 10px;
    background-color: var(--blue);
    font-size: x-large;
}
#listCon,#formCon{
    border-radius:2px;
    display:block;
    width:50%;
    margin:0 auto 20px auto;
    text-align: center;
}  

#listCon{
    display: flex;
    flex-direction: column;
    background:linear-gradient(45deg,var(--blue),var(--white));
    border: 50px solid var(--blue);

}
#addtaskbutton,#formCon form button{
 display:block;
 margin:auto;
 margin-top: 0%;
 padding:5px;
 border-radius: 5px;
 background:var(--blue);
 color:var(--white);
 text-shadow: 0.5px 0.5px var(--green);
}
#formCon form button{
    margin:1rem auto;
}
#formCon,.desDiv{
    border: 2px solid var(--blue);
    background: var(--white);
    font-style: oblique;
}
.desDiv{
    text-align:left ;
    font-style:bold;
    padding: 2rem;
}
#listCon h1{
    border-bottom:1px solid var(--blue);
    margin-bottom:20px;
    padding: auto 20px;
    margin:10px;
    border-radius:10px;
    text-shadow: 1px 1px var(--green);    
}
#listCon h1::first-letter{
    text-transform: capitalize;
}

.listBox{
    border-bottom:1px solid var(--blue);
    border-radius: 2px;
    margin:10px auto;
    width:80%;
    padding:0 10% ;
    box-sizing: border-box;
    display:flex;
    flex-direction:row;
    align-items: center;
    background:linear-gradient(45deg, var(--blue),var(--white));
}
.listBox h2{
    padding: auto ;
    width:80%;

}
.listBox a{
    color:inherit;
    text-decoration: none;
}
.listBox a h2::first-letter{
    text-transform: capitalize;
}
.listbox form{
    width:10%;
}
.listdetails{
    width:10%;
    font-size: 2rem;
}

#formCon form{
    align-items: center;
    display:flex;
    flex-direction: column;
}

#formCon form label{
    margin-top: 5px;

}
.trigger{
    color:var(--blue);
    text-decoration: none;
}
iframe{
    display:block;
    width:80%;
    height: 80vh;
    margin:auto;
    padding: 20px;
    border-radius: 20px;
}
input{
    background-color:var(--white);
    font-style: italic;
    text-align: right;
    padding:0.2rem;
    padding-left:0.5rem;
}
.desDiv h1{
    text-shadow: none;
    font-style: normal;
    text-align: center;
    border-radius:none;

}
footer{
    margin-top:4rem;
    background-color: var(--blue);
}
footer h4{
display: block;
margin:auto;
padding:1em;
color:var(--white);
text-shadow: 0.5px 0.5px var(--green);
}
footer h4 a{
    color:var(--white);
    text-shadow: 0.5px 0.5px var(--green);
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: rgba(255,0,0,0,4);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
   
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


#menu{
width:0;
height:0;
}  

@media  (max-width:576px){

nav{
    flex-direction: column;
}
#menu{
    height:auto;
    width:95%;

}
#menu button{
    border:none;
    background-color: inherit;
    color:black;
    float: right;
    font-size: 4em;
    margin:0;
   
}

#navLink ul{
    width:100%;
    display:flex;
    flex-direction:column;
    box-sizing: border-box;
}
#navLink ul li{
    padding:1em 0.5em;
    font-size:2em;
    width:100%;
    border-bottom: 1px solid black;
}
#navLink{
    display: none;
}
#listCon{
    width:90%;
    border:20px solid var(--blue);
}
#formCon{
    width:100%;
}
#formCon form{
    padding:2rem;
}

}