<footer>
    <h4>
        Design and developed by : <a href="https://www.linkedin.com/in/vipin-chaudhary-1a1852190/">Vipin Chaudhary</a>
    </h4>
</footer>


</body>
<script src="script/script.js"></script>
</html>